{% extends 'base.html' %}

{% block content %}
<h1 class="mb-4 text-center">Contato</h1>

<div class="row justify-content-center">
    <div class="col-md-6">

        {% if sucesso %}
            <div class="alert alert-success">
                Mensagem enviada com sucesso!
            </div>
        {% endif %}

<form method="post" class="card p-4 shadow">
    {% csrf_token %}
    
    <div class="mb-3">
        <label>Nome</label>
        {{ form.nome }}
    </div>

    <div class="mb-3">
        <label>Email</label>
        {{ form.email }}
    </div>

    <div class="mb-3">
        <label>Mensagem</label>
        {{ form.mensagem }}
    </div>

    <button class="btn btn-primary w-100">Enviar</button>
</form>

    </div>
</div>
{% endblock %}